<form class="adjust" action="/tasks/delete/{{this.id}}?_method=DELETE" method="POST">
  <!-- option 2, pass in the id of the todo inside the form - you would access this in the route using req.body.id not req.params.id -->
  <!-- <input type="hidden" name="id" value="this.id with double stashes"> -->
  <button type="submit">Remove</button>
</form>
