<div class = "wrapper">  
  <div class = "topbox">
    <h2><center>when you're good at forgetting</center></h2>
    <form class="create-update-form" action="/tasks/create" method="POST">
      <label class="textfield">
        <input type="text" id="newtask" name="newtask"/>
        <span class="textfield_label">New Task</span>
      </label>

      <label class="radio">
        <input type="radio" name="complete" value="0" checked>
        <span class="radio__label">TO DO</span>
      </label>

      <label class="radio">
        <input type="radio" name="complete" value="1">
        <span class="radio__label">Completed</span>
      </label>
      
      <button class="f-right" id="greenbtn" type="submit">Add Task</button>
      <br/>
    </form>

  </div>
    <section class="grid">
      <div>
        <h4>TO DO</h4>

        <ul style="list-style-type:none">
          {{#each todo}}
            {{#unless this.complete}}
              <li>
                {{this.name}}
                <form class="adjust" action="/tasks/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="complete" value="true">
                  <button class="f-left" type="submit">Completed</button><br>
                </form>

               
                
              </li>
            {{/unless}}
          {{/each}}
        </ul>
      </div>

      <div>
        <h4>COMPLETED</h4>

        <ul style="list-style-type:none">
          {{#each todo}}
            {{#if this.complete}}
              <li>
                {{this.name}}

                <form class="adjust" action="/tasks/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="complete" value="false">
                  <button type="submit">Not Complete</button> 
                </form>{{> tasks/delete-todo}}
               
                 
                
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </section>
</div><!--end of main container-->



